name: Utro

on:
  schedule:
    - cron: '0 4,10,12,16 * * *'  # 7:00 и 19:00 MSK (UTC+3)
  workflow_dispatch:  # Ручной запуск

jobs:
  run-monitor:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run script
      run: python uniswap_monitor.py

    - name: Log completion
      if: always()
      run: echo "Cron job completed! Check Telegram for results."
